<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Position:</b> <%= @content_block.position %></p>
<p><b>Picture:</b> <%= link_to "Picture", attachment_path_for(@content_block.picture) %></p>
<p><b>Bio:</b> <%= @content_block.bio %></p>
